.item-container {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.pointer {
  cursor: pointer;
}
.item-container.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-container .block {
  display: block;
}
.item-container:hover {
  background: #cccccc1a;
}
.h3,
h3 {
  font-size: 16px;
}
.h5,
h5 {
  font-size: 12px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
p {
  font-size: 12px;
}

.item-body {
  flex: 3;
}
.item-avatar {
  height: 85px;
  flex: 1 1;
  text-align: center;
}

.title {
  color: #417baf;
}
.body-flex {
  margin-top: 5px;
  display: flex;
}

.body-flex div {
  align-items: center;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.body-flex div p {
  font-weight: bold;
  display: contents;
}
.open,
.body-flex div p {
  color: #e09205;
}
.open {
  margin-right: 5px;
}
.closed {
  font-weight: bold;
}
.closed:before {
  content: " /  ";
}

.item-body .title {
  font-weight: bold;
}

@media only screen and (min-width: 720px) {
  .item-body {
    flex: 8;
  }
  .item-container {
    padding: 10px 0px 10px 30px;
  }
}
a {
  color: inherit !important;
  text-decoration: none !important;
  background-color: transparent !important;
}
.avatar-container {
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.avatar-container p {
  margin-left: 10px;
}
.flex-1-1 {
  flex: 1 1;
}
