nav {
  top:0;
  width: 100%;
  background: #343438;
}
nav,
.navbar-light .navbar-brand,
.menu-icon {
  color: white;
}
.menu-icon {
  margin-right: 20px;
}
.navbar-brand {
  flex: 1;
}
ul {
  list-style-type: none;
  padding: 0px;
}
nav,
.navbar-light .navbar-brand,
.menu-icon:hover {
  color: white;
}
.bread-c {
  display: flex;
  padding: 15px;
  background: #cccccc4d;
}
.container-margin{
  margin-top: 50px;
}

.navbar{
  position: fixed!important;
}
*{
  scroll-behavior: smooth;
}